@import "~office-ui-fabric-react/dist/sass/References.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

.weatherApp {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #bce7ff, #ffe5be);
  border-radius: 20px;
  margin: 10px;

  .flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }

  .flexChild {
    min-width: 180px;
    width: 30%;
    margin: 15px 0px;
  }

  #imageContainer {
    color: black;
  }

  #textContainer {
    color: black;
  }

  .forecastHeader {
    color: black;
  }

  .forecast {
    color: black;
  }

  .title {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
  }

  .location {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
  }

  .temperature {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 3.5em;
    margin: 0;
  }

  #imageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #weatherIcon {
    width: 100px;
  }

  #textContainer {
    display: block;
  }
}
